@mixin font_fabric($fontSize, $fontColor) {
  font-size: $fontSize;
  color: $fontColor;
}

@mixin interaction($link, $hover, $active, $visited) {
  color: $link;
  &:hover {
    color: $hover;
  }
  &:active {
    color: $active;
  }
  &visited {
    color: $visited;
  }
}

