$color_fill_1: #929c9f;
$color_fill_2: #dcdf3c;
$color_fill_3: #7196da;
$color_fill_4: #212628;
$color_white: #fff;
$color_black: #000;

$bg_color_fill_1: #929c9f;
$bg_color_fill_2: #dcdf3c;
$bg_color_fill_3: #7196da;
$bg_color_fill_4: #212628;
$bg_color_fill_5:#4B5153;
$bg_color_white: #fff;
$bg_color_black: #000;

$text_color_fill_1: #929c9f;
$text_color_fill_2: #585b5c;
$text_color_fill_3: #7196da;
$text_color_fill_4: #212628;
$text_color_fill_5: #545759;

$text_color_white: #fff;
$text_color_black: #000;

$font_small: 11px;
$font_x_small: 14px;
$font_medium: 16px;
$font_x_medium: 18px;
$font_large: 20px;
$font_x_large: 22px;
$font_xxl_medium: 25px;
$font_xxl_large: 75px;

$font_primary: 'Open Sans Condensed', sans-serif;
$font_secondary: 'Prosto One', cursive;
$font_third: 'Russo One', sans-serif;
$font_fourth: 'Roboto', sans-serif;
