aside {
  order: 2;
  width: 240px;
  height: 100%;
  background: #4B5153;

  .search {
    background: #000;
    padding: 15px;

    label {
      padding-right: 29px;
      align-self: center;
      width: 18px;
      height: 18px;
      background-image: url("/img/dashbord/search.png");
      background-repeat: no-repeat;
      //border: none;
      margin-left: -15px;
    }

    .search_input {
      width: 130px;
      border: none;
      color: $color_fill_1;
      font-family: $font_face_primary;
      font-size: inherit;
      background: $bg_black;
    }
  }

  .bank_name {
    @extend .small_fill_1;
    font-family: $font_face_secondary;
    padding: 31px 35px 15px;
  }

  .category {
    font-size: 11px;
    color: $color_fill_1;
    font-family: $font_face_secondary;
    padding-left: 35px;
  }

  button {
    color: $text_white;
    background: #4B5153;
    border: none;
    font-family: $font_face_primary;
    font-size: inherit;
    padding: 11px 35px 11px 35px;
  }

  .enter > img, a {
    font-family: $font_face_primary;
    padding-left: 8px;
    text-decoration: none;
    @include aside_enter(#F4F750, #C2C52E, #A8AA2A, #DCE123);
  }

  .aside_footer {
    margin-top: 250px;

    .phone_number {
      font-size: 19px;
      font-family: $font_face_primary;
      color: $text_white;
      padding-left: 15px;
      margin-bottom: 16px;
    }

    .help {
      background: $bg_black;
      margin-bottom: 25px;

      button {
        width: 240px;
        background: #000;
        padding-left: 0;
        background-image: url("/img/dashbord/help.png");
        background-repeat: no-repeat;
        background-position: 15px 14px;
      }

    }

    .help:hover {
      button:hover {
        color: $text_black;
        background: $bg__fill_2;
        background-image: url("/img/dashbord/help_black.png");
        background-repeat: no-repeat;
        background-position: 15px 14px;
      }
    }

    .help:active {
      button:active {
        color: $text_black;
        background: #C2C52E;
        background-image: url("/img/dashbord/help_black.png");
        background-repeat: no-repeat;
        background-position: 15px 14px;
      }
    }
  }
}