aside {
  order: 2;
  width: 240px;
  min-height: 100%;
  background: $bg_color_fill_4;

  .search {
    background:$bg_color_black;
    padding: 15px;

    label {
      padding-right: 29px;
      align-self: center;
      width: 18px;
      height: 18px;
      background-image: url("/img/dashbord/search.png");
      background-repeat: no-repeat;
      //border: none;
      margin-left: -15px;
    }

    .search_input {
      width: 130px;
      border: none;
      color: $color_fill_1;
      font-family: $font_primary;
      font-size: inherit;
      background: $bg_color_black;
    }
  }

  .bank_name {
    @extend .small_fill_1;
    font-family: $font_secondary;
    padding: 31px 35px 15px;
  }

  .category {
    font-size: 11px;
    color: $color_fill_1;
    font-family: $font_secondary;
    padding-left: 35px;
  }
  .enter_in_veb-bank, .map_info {
    font-family: $font_primary;
    text-decoration: none;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 11px 14px;
    color: white;
  }
  .enter_in_veb-bank {
    padding: 6px 24% 6px 32px;
    background-image: url("/img/dashbord/key_ico.png");
  }
  .map_info {
    padding: 6px 18% 6px 32px;
    width: 100%;
    background-image: url("/img/dashbord/key_ico.png");
  }

  .enter_in_veb-bank:hover,.map_info:hover  {
    background: $bg_color_fill_2;
    background-image: url("/img/dashbord/key_ico_black.png");
    background-repeat: no-repeat;
    background-position: 11px 14px;
    color: $text_color_black;
  }
  .enter_in_veb-bank:active,.map_info:active {
    background: $bg_color_fill_6;
    background-image: url("/img/dashbord/key_ico_black.png");
    background-repeat: no-repeat;
    background-position: 11px 11px;
  }

  button {
    color: $text_color_white;
    background: $bg_color_fill_4;
    border: none;
    font-family: $font_primary;
    font-size: inherit;
    width: 100%;
    height: 30px;
    text-align: start;
    text-indent: 30px;
    vertical-align: center;
    background: none;
    position: relative;
    z-index: 1;
    outline: none;
  }

  .first_list>button::before,
  .second_list>button::before {
    content: "";
    color: white;
    display: block;
    height: 30px;
    width: 2%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transition-timing-function: linear;
    transition-duration:.2s;
  }
  .first_list>button::before {
    background: $bg_color_access_3;
  }
  .second_list>button::before {
    background: $bg_color_access_4;
  }
  .first_list>button:hover::before {
    width: 100%;
  }
  .first_list>button:active::before {
       background: $bg_color_access_6;
    width: 100%;
  }
  .second_list>button:hover::before {
    width: 100%;
  }
  .second_list>button:active::before {
       background: $bg_color_access_5;
    width: 100%;
  }

  .aside_footer {
    margin-top: 250px;

    .phone_number {
      font-size: 19px;
      font-family: $font_primary;
      color: $text_color_white;
      padding-left: 15px;
      margin-bottom: 16px;
    }

    .help {
      background: $bg_color_black;
      margin-bottom: 25px;

      button {
        width: 240px;
        height: 45px;
        background: $bg_color_black;
        background-image: url("/img/dashbord/help.png");
        background-repeat: no-repeat;
        background-position: 14px 13px;
        padding: 6px 32% 6px 5px;
      }
    }

    .help:hover {
      button {
        color: $text_color_black;
        background: $bg_color_fill_2;
        background-image: url("/img/dashbord/help_black.png");
        background-repeat: no-repeat;
        background-position: 15px 14px;
      }
    }

    .help:active {
      button {
        color: $text_color_black;
        background: $bg_color_fill_6;
        background-image: url("/img/dashbord/help_black.png");
        background-repeat: no-repeat;
        background-position: 15px 14px;
      }
    }
  }
}