
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px 35px;
  background-color: black;
}

.type_of_business button {
  text-transform: uppercase;
  background: $bg_color_black;
  border: none;
  color: $color_fill_4;
  font-size: $font_small;
}

.font_size_container > button, select {
  background: $bg_color_black;
  border: none;
  color: $color_fill_1;
  @include interaction($color_fill_1,$text_color_fill_5,$text_color_fill_6,$text_color_fill_7);
}

.font_size_container > .font_size_small {
  font-size: 10px;
}

.font_size_container > .font_size_big {
  font-size: 18px;
}

header > button {
  background-color: black;
  color: $text_color_access_1;
  border: black;
}

.type_of_business > button {
  @include interaction($color_fill_1,$text_color_fill_5,$text_color_fill_6,$text_color_fill_7);
}

nav {
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;

  button {
    min-width: 80px;
    height: 25px;
    padding: 33px 0 30px 0;
    text-transform: uppercase;
    font-family: $text_color_fill_4;
    font-weight: bolder;
    border: none;
  }

}

nav:hover {
  button:hover {
    min-width: 80px;
    max-height: 15px;
    margin-top: 15px;
    padding: 20px 0 28px 0;
    text-transform: uppercase;
    font-family: $text_color_fill_4;
    font-weight: bolder;
    border: none;
    background: $bg_color_fill_2;
  }
}

