* {
  outline: none;
}
.container {
  width: 1440px;
  margin: auto;
  display: flex;
}
button, a {
  cursor: pointer;
}
section {
  width: 100%;
  .nav__menu {
    display: flex;
    justify-content: flex-end;
  }
}