aside {
  order: 2;
  width: 240px;
  height: 100%;
  background: #000;

  button {
  }

  .text {
    color: #929c9f;
  }
}

section {
  width: 100%;

  .nav__menu {
    display: flex;
    justify-content: flex-end;
  }
}