//TODO: delete all
$bg_header: #000;
$bg_aside: #212628;
$color_main: #929c9f;
$text_white: #fff;
$text_aside: 'Open Sans Condensed', sans-serif;
$text_main: 'Prosto One', cursive;
$text_secondary: 'Russo One', sans-serif;
